
body{
    font-family: Time new roman ;
    font-size: 15px;
    width: 1300px;
    margin: 0px auto;
    background: url("images/background.jpg");
    background-size: cover;
}

h1 a{
    text-align: center;
    font-family: Time new roman;
    font-size: 50px;
    text-shadow: 3px 3px 10px black;
    line-height: 0.5;
}

h3 {
    color: black;
    text-align: center;
}

div h4 {
    font-size: 18px;
    color: blue;
    font-family: Time new roman; 
    text-align: center;
}

div img {
    widows: 400px;
    height: 200px;
    margin-left: 450px;
    margin-right: 450px;
}

#flip, h2{
    text-shadow: 1px 1px 3px navy ;
    font-size: 30px;
    padding: 0px;
    text-align: center;
}

#panel {
    padding: 0px;
    display: none;
    color: black;
    margin-left: 280px;
    margin-right: 280px;
    font-family: Time new roman; 
    font-size: 18px;
}

/*h2 {
    text-shadow: 1px 1px 3px navy;
    text-align: center;
    font-size: 30px;
}*/

/*p {
    color: black;
    margin-left: 280px;
    margin-right: 280px;
    font-family: Time new roman; 
    font-size: 18px;
}*/

section{
    width: 1300px;
}
article{
    width: 400px;
    height: 350px;
    margin-right: 23px;
    margin-left: 10px;
    float: left;
}
#section img{
    width: 400px;
}

a{
    font-family: Time new roman;
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
    display: block;
    line-height: 18px;
    color: red;
    text-align: center;
}

a:hover{
    color: green;
}

.clearfix:after 
{
    content: "";
    display: table;
    clear: both;
}

div p {
    color: black;
    font-family: Time new roman; 
    font-size: 18px;
    text-align: center;
}

